/*

PALETA DE COLORES

#EFEFEFWhite-Gray
#F66B0E Orange
#205375 Royal Blue
#112B3C Dark blue
*/
/*mobile first*/
div.container-fluid.search{
    display: flex;
    justify-content: center;
}
.navbar-brand{
    display:flex;
    justify-content: center;
    margin-left:2rem;
    font-size: 2em;
}
div.collapse.navbar-collapse{
    display:flex;
    justify-content: center;
}
div.collapse.navbar-collapse li{
    margin:0.6rem;
}
div.collapse.navbar-collapse li a{
    font-size: 1.6em;
    color:#F66B0E;
}
input.form-control{
    background-color: #EFEFEF;
    width:20vw;
    border-radius: 2em;
    border-color: gray;
    border-width: 0.1em;
}
button.btn{
    background-color: transparent;
    color:#EFEFEF;
    border-color: #EFEFEF;
}
button.btn:hover{
    background-color:#EFEFEF;
    color:#112B3C;
    border-color: transparent;
}